@font-face {
    font-family: edo;
    src: url(../fonts/edo.ttf);
  }

body {
    margin:0px;
    background-color: darkslategray;
    color: floralwhite;
}

h1 {
    font-size: 50px;
}

h1, h2, h3, p {
    text-align: center;
    font-family: edo, Verdana, Geneva, Tahoma, sans-serif;
}

h3, p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    margin: auto;
    max-width: 600px;
}

.head-box {
    width: 300px;
    height: 50px;
    float: left;
    text-transform: uppercase;
}

#hard-mode {
    font-family: edo, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#game-container {
    border-radius: 25px;
    background: url("../images/noughts-and-crosses-background.png");
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

.game-square {
    width: 200px;
    height: 200px;
    float: left;
    font-size: 180px;
    font-family: edo, Verdana, Geneva, Tahoma, sans-serif;
    color: #202020;
    text-align: center;
    margin: auto;
}