body {
    margin:0px;
}

h1 {
    text-align: center;
}

#game-container {
    max-width: 600px;
    margin: auto;
}

.game-square {
    width: 200px;
    height: 200px;
    background-color: blue;
    float: left;
}

#square-2, #square-4, #square-6, #square-8 {
    background-color: green;
} 